@import '../base/variables.less';

.container {
	overflow: hidden;
	text-align: center;
	background: transparent;
	color: @white;
	justify-content: center;
	align-items: center;
}

.content {
	padding: 1.5em;
	max-width: 625px !important;
	// box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
	background-color: @darkLessTransparent;
	height: 100%;
}

.innerContent {
	flex-direction: column !important;
	justify-content: center;
	align-items: center;
}

.icon {
	display: flex;
	align-items: center;
	margin-left: 1em;
}

.links {
	margin-right: 1em;
}