@import '../base/variables.less';

.container {
	overflow: hidden;
	height: 100%;
	width: 100%;
}


.content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon {
	margin-left: 1em;
}

.links {
	margin-right: 1em;
}