html {
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
}

input {
    padding: .5em;
    border: none;
}

textarea:focus, input:focus{
    outline: none;
}

button {
    outline: none;
}