@white: #fff7ec;
@offWhite: #f5f8fa;
@gray: #594F4F;
@darkBlue: #0d3a59;
@blueGray: #547980;
@red: #f0576b;

@screen-sm: ~'only screen and (min-width: 48rem)';
@screen-md: ~'only screen and (min-width: 64rem)';
@screenLg: ~'only screen and (min-width: 75rem)';

@boxShadowNone: 0 0 0;
@boxShadowSm: 0 .05em .1em;
@boxShadowMd: 0 .2em .5em;