@red: #F63854;
@darkTransparent: rgba(17,14,15,.7);
@darkLessTransparent: rgba(17,14,15,.6);
@white: #f5f8fa;
@dark: rgba(17,14,15,1);

@screen-sm: ~'only screen and (min-width: 48rem)';
@screen-md: ~'only screen and (min-width: 64rem)';
@screenLg: ~'only screen and (min-width: 75rem)';

@boxShadowNone: 0 0 0;
@boxShadowSm: 0 .05em .1em;
@boxShadowMd: 0 .2em .5em;

@stroke: 1px;