@import '../base/variables.less';

// TODO: Rework css to be more reusable
.btn {
	background-color: transparent;
    border: 1px solid @white;
    padding: .2em 1.5em;
    border-radius: 6px;
	color: @white;
    text-align: center;
    cursor: pointer;
    line-height: 1.15;
    max-width: 100%;
	transition: all .1s ease-in-out;
    margin: 0em 1em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    &:hover {
        box-shadow: inset @boxShadowNone @stroke @darkLessTransparent, @boxShadowMd @darkTransparent;
    }
    &:focus,
    &:active {
        box-shadow: inset @boxShadowNone @stroke @darkLessTransparent, @boxShadowNone @darkLessTransparent;
    }
}