@import '../base/variables.less';

.btn {
	background-color: transparent;
    border: 1px solid @darkBlue;
    padding: .5em 2em;
	color: @darkBlue;
    text-align: center;
    cursor: pointer;
    line-height: 1.15;
    max-width: 100%;
	transition: all .1s ease-in-out;
    margin: 1em;
    &:hover {
        color: #fff;
        background-color: @darkBlue;
    }
}