@import '../base/variables.less';

.container {
    display: flex;
	background-color: #fff;
    border-bottom: 1px solid @darkBlue;
    @media @screen-md {
        border-bottom: none;
    }
}

.item {
    flex: 1 1 auto;
}

.searchIcon {
    margin-right: 5px;
}

.input {
	padding: 0;
    border: none;
    background: transparent;
    font-size: 14px;
    text-indent: 0.5em;
    border-bottom: 1px solid #465E69;
    margin-right: 0;
    color: @darkBlue;
    text-shadow: 0 0 0 #f2f2f2;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    @media @screen-md {
        width: 300px;
    }
}

.search {
	width: 20px;
	height: 20px;
	color: #f63854;
}

.hammy {
    flex: 0 1 auto;
    @media @screen-md {
        display: none;
    }
}

.menu {
    position: fixed;
    width: 50vw;
    height: 100vh;
    transform: translateX(110vw);
    background-color: #fff;
    @media @screen-md {
        flex: 0 1 auto;
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0vw);
    }
}