@import '../base/variables.less';

.container {
    display: flex;
    align-items: center;
	background-color: @colorDark;
    border-bottom: 1px solid @colorDark;
    color: @white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    z-index: 100;
    @media @screen-md {
        border-bottom: none;
    }
}

.cloud {
    margin-left: 10px;
}

.item {
    flex: 1 1 auto;
    color: #f2f2f2;
}

.menu {
    position: fixed;
    width: 50vw;
    height: 100vh;
    transform: translateX(110vw);
    @media @screen-md {
        flex: 0 1 auto;
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0vw);
    }
}