@import '../base/variables.less';

.input {
	padding: 0;
    border: none;
    background: transparent;
    font-size: 14px;
    text-indent: 0.5em;
    border-bottom: 1px solid @white;
    margin-bottom: 2em;
    color: @white;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    @media @screen-md {
        width: 300px;
    }
}

.input::placeholder{
    color: @white;
}