@import '../base/variables.less';

.container {
    display: flex;
    padding: 2em;
    max-width: 350px;
}

.input {
    margin-bottom: 0 !important;
}

.submit {
    display: none;
}

.form {
    display: flex;
}

.search {
    width: 15px;
}