@import '../base/variables.less';

.container {
    position: relative;
    border: 1px solid @white;
    color: @white;
    cursor: pointer;
    text-align: center;
    transition: all .3s ease;
    padding: .5em;
    margin-bottom: .5em;
    &:hover {
        box-shadow: inset @boxShadowNone @stroke @darkLessTransparent, @boxShadowMd @darkTransparent;
    }
    &:focus,
    &:active {
        box-shadow: inset @boxShadowNone @stroke @darkLessTransparent, @boxShadowNone @darkLessTransparent;
    }
}