@import '../base/variables.less';

.container {
    text-align: center;
	background-color: #eee;
    height: 100%;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    @media @screen-md {
        border-right: 1px solid @darkBlue;
    }
}

.list {
    padding: 0.5em;
}